.footer {
    position: relative;
    display: flex;
    background-color: #000000;
    min-height: 20vh;
    overflow:auto;
}

.footer > p {
    margin: auto;
    text-align: center;
    position: relative;
    color: white;
    font-size: 1rem;
    padding: 2em 0 5vh;
}

.footer > p > a {
    color: #888888;
    text-decoration: none;
}

.footer-credits > a {
  color: #fff;
  text-decoration: none;
}

.socialmedia-list > a {
    color: #fff;
    text-decoration: none;
    padding-right: 20px;
}

.socialmedia-list {
    padding: 5vh 2em 0;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
