body {
    margin: 0;
}

.App {
    text-align: center;
    background: #6FC9E7;
}

.App-logo {
    height: 40vmin;
}

.landing-page {
    background-color: #6FC9E7;
    min-height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header > img {
    position: absolute;
}

.page-name {
    color: white;
    font-size: 5em;
    padding-top: 5vh;
    font-family: 'Anton', sans-serif;
}

.App-link {
    color: #09d3ac;
}
