.about-us-page {
	background-color: white;
	background-image: url("../../assets/wallpaper-about.jpeg");
	min-height: 100vh;
}

.about-us-title {
	position: relative;
	width: 100%;
	color: rgba(0, 0, 0, 0.8);
	font-size: 5em;
	padding: 5vh 5vw 5vh;
	font-family: 'Anton', sans-serif;
	text-align: left;
}

.description {
	color: rgba(63, 63, 63, 0.8);
	font-family: 'Cambay', sans-serif;
	font-size: 1em;
	padding: 0 10vw 0 5vw;
	text-align: left;
}