/* Using Tutorial: https://www.youtube.com/watch?v=4CeTFW4agRw by Brice Ayres*/

.form-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    box-shadow: 0px 10px 50px #555;
    background-color: rgba(255, 255, 255, 0.5);
}

form {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}

textarea {
    resize: none;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

h1 {
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    padding: 1em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input {
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #cfcfcf;
}

input::placeholder {
    font-size: 1em;
    font-weight: lighter;
    color: #999;
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

.name, 
.longitude {
    margin-right: 1%;
}

.party-size,
.latitude {
    margin-left: 1%;
}

.name,
.party-size,
.longitude, 
.latitude, 
.phone,
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.name,
.party-size,
.longitude, 
.latitude {
    width: 49%;
}

.phone,
.message {
    width: 100%;
}

.get-help {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-help button {
    background-color: #253A4B;
    color: #fff;
    border: 2px solid #fff;
    width: 100%;
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

.get-help button:hover {
    color: #253A4B;
    background-color: #fff;
    border: 2px solid #253A4B;
}

.get-help button:disabled,
.get-help button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.get-help small {
    color: #999;
    font-weight: lighter;
}
