.volunteer-page {
	background-color: teal;
	min-height: 100vh;
	padding-left: 2rem;
}

.volunteer-title {
	position: relative;
	width: 100%;
	color: rgba(0, 0, 0, 0.8);
	font-size: 5em;
	padding: 5vh 5vw 5vh;
	font-family: 'Anton', sans-serif;
	text-align: left;
}

.variable {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	text-align: left;
	width: 75%;
}

.request {
	background-color: #253A4B;
	color: white;
	border: 2px solid white;
	width: 60%;
	margin-top: 1em;
	padding: 8px 0px;
	font-size: 1em;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 0.25em;
	text-align: center;
}

.request:hover {
	background-color: #375a7a;
	color: white;
	border: 2px solid white;
}

.col-volunteer-left {
		padding-left: 10vw;
}
